<mat-toolbar class='navbar'>
  <span> Flow State</span>
  <div>
    <button mat-mini-fab (click)="sidenav?.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <button>
      <mat-icon>person</mat-icon>
    </button>
  </div>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened class="app-sidenav">
    <section *ngFor="let link of links"
      [routerLink]="link.path" routerLinkActive="active"
    >
      <mat-icon>{{link.icon}}</mat-icon>
      <p>{{link.title}}</p>
    </section>
  </mat-sidenav>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
