@use '@angular/material' as mat;
@include mat.core();

*{ margin: 0;
  box-sizing: border-box;
}

html, body { height: 100%;}

body {font-family: Roboto, "Helvetica Neue", sans-serif;}


mat-toolbar{
  box-shadow: 0 0 5px 5px red;
  position: relative;

}

.navbar{
  height: 7.5%;
  display: flex;
  justify-content: space-between;
  background-color: #213a5c;
  box-shadow: 3px 0 6px black;
  z-index: 2;
  color: white;

}


mat-sidenav-container{
  height: 100%;
}

mat-sidenav{
  width: 200px;
  box-shadow: 3px 0 6px rgba(0, 0, 0, 0.24);
  width: 200px;
  div{

    padding: 0.5em;
  }
}

section{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5em;
}