@use '@angular/material' as mat;
@include mat.core();

*{ margin: 0;
  box-sizing: border-box;
}

html, body { height: 100%;}

body {font-family: Roboto, "Helvetica Neue", sans-serif;}

mat-toolbar{
  background-color: gray;
  height: 7.5%;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);

  div{
    border: 1px solid green;
  }
}

mat-sidenav-container{
  width: 15%;
  background-color: lightblue;
  height: 100%;

  section {
    display: flex;
    justify-content: flex-start;
    gap: 0.5rem;
    align-items: center;
    border: 1px solid magenta;
  }
}