.container{
  height: 100%;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.content {
  width: 50%;
  padding: 1em;
  box-shadow: 3px 0 6px lightgrey;
}

h2{
  margin-bottom: 1em;
  color: #213a5c;
}

mat-card{
  margin-bottom: 1rem;
}

mat-list-item{
  height: 100%;
}

.delete-task-btn{
  background: none;
  border: none;

  .delete-task-icon{
    color: #758D93;
    border: none;
    background-color: transparent;
  }
}

.form-container{
  display: flex;
  flex-direction: column;
}
